@model RessetPasswordViewModel
@{
    ViewData["Title"] = "Ressetpassword";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}



<div asp-validation-summary="All"></div>

<h1 class="page-title">Reset Password</h1>
<form class="form-detail" asp-action="Ressetpassword" method="post">
    <label for="NewPassword"> NewPassword</label>
    <input asp-for="NewPassword" id="NewPassword" class="input-text" placeholder="Your NewPassword" required>
<span asp-validation-for="NewPassword" class="text-danger"></span>
<i class="fas fa-envelope"> </i>
    <br /><label for="ConfirmPassword"> ConfirmPassword</label>
    <input asp-for="ConfirmPassword" id="ConfirmPassword" class="input-text" placeholder="Your ConfirmPassword" required>
    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
<i class="fas fa-envelope"> </i>
<br />
<div class="form-row-last">
    <input type="submit" value="Reset">
</div>
</form>
@section createAndEditValidation {
    <partial name="_ValidationScriptsPartial" />
}


<style>
    .page-title {
        font-size: 36px; /* Larger font size */
        color: #2f4f4f; /* Calm dark tone */
       /*  text-transform: uppercase */; /* Makes the title stand out */
        letter-spacing: 1.5px; /* Adds elegance */
        text-align: center; /* Centers the title */
        font-weight: bold;
        margin-bottom: 20px; /* Space below the header */
        background: linear-gradient(to right, #6cb2a3, #b3dcd7); /* Subtle gradient */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>