@model Department
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Model.name department</h1>
<div asp-validation-summary="All"></div>

<form asp-action="Edit">

    <div class="form-group">
        <label class="col-form-label" asp-for="code"></label>
        <input class="form-control" asp-for="code" />
        <span asp-validation-for="code" class="text-dander"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="name"></label>
        <input class="form-control" asp-for="name" />
        <span asp-validation-for="name" class="text-dander"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="dateOFCreation"></label>
        <input class="form-control" asp-for="dateOFCreation" />
        <span asp-validation-for="dateOFCreation" class="text-dander"></span>
    </div>
    <input type="submit" value="Save"  class="btn btn-primary" />
    <a asp-action="index" asp-controller="department" class="btn btn-success">Cancel</a>
</form>
@section createAndEditValidation {

    <partial name="_ValidationScriptsPartial" />

}