@model Employee
@{
    ViewData["Title"] = "create";
}

<h1>create employee </h1>
<div asp-validation-summary="All"></div>

<form asp-action="Create">

    <partial name="employeePartialView/createEditpartialView" />
    <input type="submit" value="submit" class="btn btn-info"/>
    <a asp-action="index" class="btn btn-danger"> cancel</a>

</form>
@section validationScriptSession {
    <partial name="_ValidationScriptsPartial" />
}