@model Employee
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Model.Name employee</h1>
<div asp-validation-summary="All"></div>


<form asp-action="Edit">
 
    <partial name="employeePartialView/createEditpartialView" />

    <input type="submit" value="Edit" class="btn btn-danger" />
    <a asp-action="index" class="btn btn-danger"> cancel</a>

</form>

@section createAndEditValidation {
  
    <partial name="_ValidationScriptsPartial" />

}